.movies {
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieCard {
    margin: 10px;
    border: 2px solid rgb(168, 69, 69);
}

h1 {
    font-family: monospace;
    font-size: 40px;
}

h4 {
    font-family: monospace;
    font-size: 25px;
}

.movieImage {
    height: 400px;
}
